<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow-lg border-0 rounded-3">
      <div class="card-header bg-primary text-white text-center py-3 rounded-top-3">
        <h4 class="mb-0 fw-bold">We value your feedback</h4>
      </div>
      <div class="card-body p-4">
        <% if @feedback.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
            <ul>
              <% @feedback.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with model: @feedback, local: true, data: { turbo: false } do |f| %>

          <div class="mb-3 form-floating">
            <%= f.text_field :name, class: "form-control rounded-3", placeholder: "Enter your name" %>
            <%= f.label :name, "Name", class: "form-label" %>
          </div>

          <div class="mb-3 form-floating">
            <%= f.text_area :content, class: "form-control rounded-3", placeholder: "Enter your content", rows: 4, style: "height: 100px;" %>
            <%= f.label :content, "Content", class: "form-label" %>
          </div>

          <div class="d-grid">
            <%= f.submit "Submit Feedback", class: "btn btn-primary btn-lg rounded-pill shadow-sm" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
