<div class="justify-content-center">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0 text-center">Update User Details</h4>
    </div>
    <div class="card-body">
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local: true do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating">
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
              <%= f.label :first_name, "First Name", class: "form-label" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
              <%= f.label :last_name, "Last Name", class: "form-label" %>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <div class="form-floating">
              <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
              <%= f.label :email, "Email", class: "form-label" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
              <%= f.label :username, "Username", class: "form-label" %>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <div class="form-floating">
              <%= f.text_field :mobile_number, class: "form-control", placeholder: "Mobile Number" %>
              <%= f.label :mobile_number, "Mobile Number", class: "form-label" %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-floating">
              <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              <%= f.label :password, "Password", class: "form-label" %>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label class="form-label fw-bold">Profile Picture</label>
            <%= f.file_field :profile, class: "form-control" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <%= f.submit "Update Profile", class: "btn btn-primary w-100" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
