<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand text-white" href="<%= admin_dashboard_path %>">Ecommerce<br>Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to admin_dashboard_path, class: "nav-link text-white #{active_class(admin_dashboard_path)}" do %>
            <i class="fas fa-tachometer-alt"></i> Dashboard
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link text-white #{active_class(admin_users_path)}" do %>
            <i class="fas fa-users"></i> Users
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_products_path, class: "nav-link text-white #{active_class(admin_products_path)}" do %>
            <i class="fas fa-brands fa-product-hunt"></i> Products
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_orders_path, class: "nav-link text-white #{active_class(admin_orders_path)}" do %>
            <i class="fas fa-book-open"></i> Orders
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admin_feedbacks_path, class: "nav-link text-white #{active_class(admin_feedbacks_path)}" do %>
            <i class="fas fa-comments"></i> Feedbacks
          <% end %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-danger" do %>
            <i class="fas fa-right-from-bracket me-2"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
