<nav class="navbar navbar-expand-lg navbar-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="/">Ecommerce</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex flex-grow-1 me-3" action="/search" method="get">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          <button class="btn btn-warning" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>

      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Admin", admin_dashboard_path, class: "nav-link text-white" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to customer_dashboard_path, class: "nav-link text-white #{active_class(customer_dashboard_path)}" do %>
                <i class="fas fa-tachometer-alt"></i> Dashboard
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to profile_path(current_user), class: "nav-link text-white #{active_class(profile_path(current_user))}" do %>
                <i class="fas fa-user"></i> Profile
              <% end %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-danger" do %>
              <i class="fas fa-right-from-bracket me-2"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Admin", new_user_session_path, class: "nav-link text-white" %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown">
              Customer
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="customerDropdown">
              <li>
                <%= link_to new_user_session_path, class: "dropdown-item" do %>
                  <i class="fas fa-sign-in-alt"></i> Login
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: "dropdown-item" do %>
                  <i class="fas fa-user-plus"></i> Sign Up
                <% end %>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" id="pagesDropdown" role="button" data-bs-toggle="dropdown">
              More
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="pagesDropdown">
              <li>
                <%= link_to feedbacks_path, class: "dropdown-item" do %>
                  <i class="fas fa-comments"></i> Feedback
                <% end %>
              </li>
              <li>
                <%= link_to contact_path, class: "dropdown-item" do %>
                  <i class="fas fa-phone-volume"></i> Contact Us
                <% end %>
              </li>
              <li>
                <%= link_to about_path, class: "dropdown-item" do %>
                  <i class="fas fa-info-circle"></i> About Us
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>

        <li class="nav-item me-3">
          <%= link_to "cart_path", class: "nav-link position-relative" do %>
            <i class="fas fa-shopping-cart fa-lg"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge">
              <%= cart_items_count %>
              <span class="visually-hidden">items in cart</span>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
